<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading display-2">JerryClan <span class="text-muted">hotspots.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
        <img src="{{ asset("build/images/jerryclans-2013-10.png") }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
    </div>
</div>

