
<div class="featurette">
    <h2 class="featurette-heading">JerryClans <span class="text-muted">in action !</span></h2>

    <div class="row mb-5">
        <div class="col-md-7 order-md-2">
            <h3>Workshops</h3>
            <p class="lead">We organise open workshops where neophytes and experts build Jerrys together in a convivial atmosphere. Everyone is welcome to join us to learn and share according to <a onclick="$.scrollTo('#values',800,{offset:-50});return false;" href="#values">our values</a>. There is plenty to do to make a Jerry : assembling hardware, installing software, customizing the box to give a true and unique personnality to your Jerry.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset("build/images/ws_soft.jpg") }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
                </div>
                <div class="col-md-6">
                    <img src="{{ asset("build/images/ws_ci.jpg") }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 order-md-1">
            <h3>Public presentations</h3>
            <p class="lead">Jerry is exposed in public events related to open source, free software, DIY, collaborative production, upcycling, and many more topics! <a href="http://agenda.youandjerrycan.org">Check the agenda</a> to meet members of the community away from your keyboard :)</p>
        </div>
        <div class="col-md-5 order-md-2">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset("build/images/pp_obc.jpg") }}" title="(CC-by-nc-nd) Ophelia Noor" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
                </div>
                <div class="col-md-6">
                    <img src="{{ asset("build/images/pp_ci.jpg") }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
                </div>
            </div>
        </div>
    </div>


</div>
