
<div class="featurette">
    <h2 class="display-2 mb-5">Manifesto</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-beaker"></i>
                <strong class="display-6">Learning by doing</strong>
                <p>&quot;Tell me and I'll forget&#44; show me and I may remember involve me and I'll understand&#46;&quot; <em>_Confucius</em></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-wrench"></i>
                <strong class="display-6">Technology is a tool</strong>
                <p>We prefer to create and master our tools instead of being subjected to them. Computers can store, process, receive and transmit information. We use these capacities the way we need &amp; like it to communicate, and solve problems in a creative way.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-ok"></i>
                <strong class="display-6">Accessibility</strong>
                <p>
                    To fight digital divide, making information technologies accessible and understandable by everyone is a requirement. Thanks to its superpowers, Jerry can break cultural, social, and economical barriers down.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-cogs"></i>
                <strong class="display-6">Open knowledge</strong>
                <p>
                    Ideas nourrish from other ideas, we want to demonstrate that sharing and exchanging knowledge is far more powerful than keeping it private. Our goal is to facilitate the sharing of knowlegde to empower the community so that people can learn from each others instead of being isolated learners.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-random"></i>
                <strong class="display-6">Remix everything</strong>
                <p>
                    Because everything is a remix !
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-heart"></i>
                <strong class="display-6">Have FUN !</strong>
                <p>
                    We enjoy doing what we do when we do it :)
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-group"></i>
                <strong class="display-6">Do It Together</strong>
                <p>
                    Jerry is not a standardized object. It evolves with the contributions of the authors and actors of its open community. Every gathering is an opportunity to stimulate creativity and exchange knowledge in a Peer-to-Peer manner.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-unlock"></i>
                <strong class="display-6">Free software</strong>
                <p>
                    GNU/Linux is created following Hacking Ethic Principles. Both values and organisationnal model inspire us as they bring a new consciousness and resources for our connected world. We promote free as in freedom software.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-refresh"></i>
                <strong class="display-6">Reuse</strong>
                <p>
                    Electronic waste harm both the people and our environment. The biggest part of the overall footprint happens during manufacturing process. We use and resuse electronic hardware as long as we can to limit this negative impact. Let's make value out of the waste around us!
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-secondary"><i class="icon-globe"></i>
                <strong class="display-6">Distributed networks</strong>
                <p>
                    The distribution of the autority on the nodes of a network makes it more resilient.
                </p>
            </div>eqz
        </div>
        <div class="col-md-6">          <div class="feature-secondary"><i class="icon-magic"></i>
                <strong class="display-6">Agility</strong>
                <p>
                    In a complex environment one need to constantly adapt to survive. We encourage grass roots initiatives to rise up and to fall into the promising unkown of making new things! Therefore we prefer flexibility and ad hoc collaboration over planning and hierarchy.
                </p>
            </div>
        </div>
    </div>
</div>
