
<div class="site-section fund-raisers">
    <div class="container">
        <div class="row mb-3 justify-content-center">
            <div class="col-md-8 text-center">
                <h2>JerryClan's friends</h2>
                <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur consequuntur, culpa cumque eos est expedita explicabo inventore ipsam iure labore libero, nam nobis non odio pariatur praesentium repellat rerum.</p>
                <p><a href="#" class="link-underline">View All members</a></p>
            </div>
        </div>
    </div>
</div> <!-- .section -->
